
<h2>Expense Type</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Expense Type</th>
      </tr>
    </thead>
    
    <tbody *ngFor = "let expense of expensetype">
        
      <tr>
        <th scope="row">{{expense.date}}</th>
        <td>{{expense.expense_type}}</td>
        <i class="fa fa-trash-o" style="font-size:48px;color:brown" (click) = "deleteExpensetype(expense.expense_type)"></i>
       <!-- <input type="button" (click) = "deleteExpensetype(expense.expense_type)" value="Delete" class="btn btn-danger">!-->
      </tr>    
    </tbody>
  </table>
