<body>
  <table class="table table-sm table-dark">
    <thead>
      <h3>Expense Type</h3>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Expense Type</th>
      </tr>
    </thead>
    
    <tbody *ngFor = "let expense of expensetype">
        
      <tr>
        <th scope="row">{{expense.date}}</th>
        <td>{{expense.expense_type}}</td>
        <input type="button" (click) = "deleteExpensetype(expense.expense_type)" value="Delete" class="btn btn-danger">
      </tr>    
    </tbody>
  </table>
</body>