<form name="form" (ngSubmit) = "f.form.valid && updateReportDetail(editReport,etid)" #f="ngForm" novalidate>
  <fieldset>
      <div class="form-group">
        <label for="inputExpensetyp" class="col-lg-2 control-label">Expense Detail Update</label>
          <div class="row">
            <div class="col">
                <div class="col-lg-5">
                    <label>Expense Type</label>
                    <select [(ngModel)]="etexpense_type" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let type of expensetype" name="expense_type" value="{{type.expense_type}}">{{type.expense_type}}</option>
                    </select>
                    <!--<div *ngIf="f.submitted && !expense_type.valid" class="help-block">expense_type is required</div>>!-->
               </div>
            </div>
            <div class="col">
                <div class="col-lg-5">
                  <label>Expense Date</label>
                  <input type="date" [(ngModel)]="etcreate_date" name="create_date" placeholder="Create Expense Date" class="form-control">
               </div>
            </div>
            <div class="col">
                <div class="col-lg-5">
                    <label>Report Date</label>
                  <input type="date" [(ngModel)]="etreport_date" name="report_report"  class="form-control">
               </div>
            </div>
          </div>
        
          <div class="row">
              <div class="col">
                  <div class="col-lg-5">
                      <label>Amount</label>
                    <input type="text" [(ngModel)]="etamount" name="amount" placeholder="Amount" class="form-control">
                 </div>
              </div>
              <div class="col">
                  <div class="col-lg-5">
                      <label>Business Purpos</label>
                    <input type="text" [(ngModel)]="etbusiness_purpos" name="business_purpos" placeholder="Business Purpose" class="form-control">
                 </div>
              </div>
            </div>
          <div class="row">
              <div class="col">
                <div class="col-lg-5">
                    <label>Invoice No</label>
                  <input type="text" [(ngModel)]="etinvoice" name="invoice"  class="form-control">
                 </div>
              </div>
              <div class="col">
                <div class="col-lg-5">
                    <label>Payment</label>
                  <select [(ngModel)]="etpayment" [ngModelOptions]="{standalone: true}">
                    <option>Payment Type</option>
                       <option>cash</option>
                       <option>online</option>
                    </select>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="col-lg-5">
                  <label>Comment</label>
                <input type="textarea" [(ngModel)]="etcomment" name="comment" placeholder="Comment" class="form-control">
               </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="btns">
                <input type="submit" class="btn btn-primary" value="update">
               </div>
            </div>
          </div>
        </div>  
  </fieldset>
</form>