
    
    <!-- main-w3layouts-form -->
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate class="main-w3layouts-form">
            <h2>Login to your account</h2>
        <div class="fields-w3-agileits">
            <span class="fa fa-user" aria-hidden="true"></span>
            <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required placeholder="Email"/>
            <div *ngIf="f.submitted && !email.valid" class="help-block">Username is required</div>

            
        </div>
        <div class="fields-w3-agileits">
            <span class="fa fa-key" aria-hidden="true"></span>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required placeholder="Password"/>
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>

           
        </div>
       
          <div class="btn">
            <button [disabled]="loading" class="btn btn-primary">Login</button>
        </div>

    </form>
