
  <form name="form" (ngSubmit) = "f.form.valid && createExpensetype()" class="form-horizontal col-lg-6" #f="ngForm" novalidate>
      <fieldset>
    <div class="form-group">
      <label for="inputExpensetyp" class="col-lg-2 control-label">Expense Typr</label>
      <div class="col-lg-10">
        <input type="text" [(ngModel)] = "register.expensetype" id="inputExpensetyp" placeholder="Name" require name="expensetyp"  class="form-control">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <div class="btns">
          <input type="submit" [disabled]=" !register.expensetype  " class="btn btn-primary" value="Add">
        </div>
      </div>
    </div>
   </fieldset>
  </form> 