  
  <form name="form" (ngSubmit) = "f.form.valid && createExpensetype()" class="main-w3layouts-form" #f="ngForm" novalidate>
      <fieldset>
          <h2>Expense Type</h2>
    <div class="form-group">
      <div class="fields-w3-agileits">
        <input type="text" [(ngModel)] = "register.expensetype" id="inputExpensetyp" placeholder="Name" require name="expensetyp"  class="form-control">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <div class="btns">
          <input type="submit" [disabled]=" !register.expensetype  " class="btn btn-primary" value="Add">
        </div>
      </div>
    </div>
   </fieldset>
  </form> 