<nav class="navbar navbar-expand-lg navbar-dark ">
    <a routerLink="/home"><i class="fa fa-home" style="font-size:48px;color:red"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <div class="dropdown">
            <i class="fa fa-dashboard" style="font-size:48px;color:red"></i>
            <div class="dropdown-content">
                <a routerLink="/expensetypeview" routerLinkActive="active"> Expense Type </a>
                <a routerLink="/expense-detail-view" routerLinkActive="active"> Expense Detail </a>
                <a routerLink="/report-view" routerLinkActive="active"> Report </a>
            </div>
          </div>
          <div class="dropdown">
              <i class="fa fa-user-plus" style="font-size:48px;color:red"></i>
              <div class="dropdown-content">
                  <a routerLink="/expensetype" routerLinkActive="active">Expense Type</a> 
                  <a routerLink="/expense-detail" routerLinkActive="active">Expense Detail</a> 
                  <a routerLink="/report" routerLinkActive="active">Report</a>
              </div>
            </div>
     <a routerLink="/chapass"><i class="fa fa-key fa-2x"></i></a>
     <a routerLink="/"> <i class="fa fa-sign-out" style="font-size:48px;color:red"></i></a>
     <!--<li class="nav-item"><a routerLink="/logout">Logout</a></li>!-->
     
    </ul>          
  </div>
</nav>