<nav class="navbar navbar-expand-lg navbar-dark ">
    <a routerLink="/home" class="icon"><i class="fa fa-home" style="font-size:35px;color:cadetblue"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <div class="dropdown">
            <i class="fa fa-dashboard" style="font-size:35px;color:cadetblue"></i>
            <div class="dropdown-content">
                <a routerLink="/expensetypeview" routerLinkActive="active"><i class="fa fa-dashboard"> Expense Type </i></a>
                <a routerLink="/expense-detail-view" routerLinkActive="active"> <i class="fa fa-dashboard">Expense Detail</i> </a>
                <a routerLink="/report-view" routerLinkActive="active"><i class="fa fa-dashboard"> Report </i></a>
            </div>
          </div>
          <div class="dropdown">
              <i class="fa fa-user-plus" style="font-size:35px;color:cadetblue"></i>
              <div class="dropdown-content">
                  <a routerLink="/expensetype" routerLinkActive="active"><i class="fa fa-user-plus"> Expense Type</i></a> 
                  <a routerLink="/expense-detail" routerLinkActive="active"><i class="fa fa-user-plus">Expense Detail</i></a> 
                  <a routerLink="/report" routerLinkActive="active"><i class="fa fa-user-plus">Report</i></a>
              </div>
            </div>
     <a routerLink="/chapass" class="icon"><i class="fa fa-key" style="font-size:35px;color:cadetblue"></i></a>
     <a routerLink="/" class="icon"> <i class="fa fa-sign-out" style="font-size:35px;color:cadetblue"></i></a>
     <!--<li class="nav-item"><a routerLink="/logout">Logout</a></li>!-->
     
    </ul>          
  </div>
</nav>