
<form name="form" (ngSubmit) = "f.form.valid && updateExpenseDetail(editExpense,etid)" #f="ngForm" novalidate class="main-w3layouts-form">
  <fieldset>
    <h2>Update Expense Detail</h2>
      <div class="form-group">
          <div class="row">
            <div class="col">
                <div class="fields-w3-agileits">
                    <select [(ngModel)]="etexpense_type" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let type of expensetype" name="expense_type" value="{{type.expense_type}}">{{type.expense_type}}</option>
                    </select>
                    <!--<div *ngIf="f.submitted && !expense_type.valid" class="help-block">expense_type is required</div>>!-->
               </div>
            </div>
            <div class="col">
                <div class="fields-w3-agileits">
                  <input type="date" [(ngModel)]="etcreate_date" name="create_date" placeholder="Create Expense Date" class="form-control">
               </div>
            </div>
            <div class="col">
                <div class="fields-w3-agileits">
                  <input type="text" [(ngModel)]="etvendor_name" name="vendor_name" placeholder="Vendor Name" class="form-control">
               </div>
            </div>
          </div>
        
          <div class="row">
              <div class="col">
                  <div class="fields-w3-agileits">
                    <input type="text" [(ngModel)]="etamount" name="amount" placeholder="Amount" class="form-control">
                 </div>
              </div>
              <div class="col">
                  <div class="fields-w3-agileits">
                    <input type="text"[(ngModel)]="etdomestic" name="domestic" placeholder="Domestic" class="form-control">
                 </div>
              </div>
              <div class="col">
                  <div class="fields-w3-agileits">
                    <input type="text" [(ngModel)]="etbusiness_purpos" name="business_purpos" placeholder="Business Purpose" class="form-control">
                 </div>
              </div>
            </div>
          <div class="row">
              <div class="col">
                  <div class="fields-w3-agileits">
                   <input type="text"[(ngModel)]="etcity_state" name="city_state" placeholder="city&state" class="form-control">
                 </div>
              </div>
              <div class="col">
                  <div class="fields-w3-agileits">
                  <input type="text" [(ngModel)]="etdeparment" name="deparment" placeholder="Department" class="form-control">
                 </div>
              </div>
              <div class="col">
                  <div class="fields-w3-agileits">
                  <select [(ngModel)]="etpayment" [ngModelOptions]="{standalone: true}">
                    <option>Payment Type</option>
                       <option>cash</option>
                       <option>online</option>
                    </select>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
                <div class="fields-w3-agileits">
                <input type="text" [(ngModel)]="etcomment" name="comment" placeholder="Comment" class="form-control">
               </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="btns">
                <input type="submit" class="btn btn-primary" value="update">
               </div>
            </div>
          </div>
        </div>  
  </fieldset>
</form>